@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@media screen and (max-width: 399px) {
  #navbar {
    padding: 20px 10px !important;
  }

  #navbar-right-small-menu {
    display: none;
    width: 100%;
    margin-top: 65px;
  }

  #navbar-right-small-menu a {
    color: black;
    text-align: center;
    padding: 12px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    float: center;
    display: block;
    width: 92%;
  }

  #navbar #navbar-right-small-menu a:hover {
    background-color: #ddd;
    color: #2d7254;
  }

  #navbar #navbar-right-small-menu a.active {
    background-color: #2d7254;
    border-radius: 6px; 
    color: white;
  }

  #navbar a {
    color: black;
    text-align: center;
    padding: 12px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    float: left;
    display: block;
  }

  #navbar-right {
    float: none;
    display: none;
  }

  #navbar-right-small > i {
    display: inline;
  }

  #navbar-right-small > div {
    display: none;
  }

  .logo-name {
    font-size: 23px;
  }

  .links {
    margin: auto;
    width: 80%;
    position: relative;
    overflow: hidden;
    display: block;
  }

  .links a {
    margin: 0;
    display: inline-block;
    width: 24%;
  }

  .links a div{
    text-align: center;
  }

  #headerVideo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 25vh;
    top: 80px;
  }

  #profileContent {
    width: 95%;
    margin-top: 170px;
  }

  .about-paragraph {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }

  .skill-paragraph {
    width: 95%;
  }

  .expand-container-skills {
    width: 100%;
    display: block;
    height: 25px;
    border-radius: 6px;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .expand-container-skills div{
    display: inline-block;
  }

  .skill-card {
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }

  .card-holder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 60px;
  }

  .card {
    width: 95%;
    margin: auto;
    height: 300px;
    margin-bottom: 350px;
  }

  .detail-container {
    /*padding: 15px;*/
    width: 100%;
    display: inline-block;
    height: 200px;
  }

  .img-container {
    width: 100%;
    height: 200px;
    display: block;
  }

  .description-container {
    width: 100%;
    height: inherit;
    display: block;
    vertical-align: top;
  }

  .info-container {
    width: 95%;
    margin: auto;
    vertical-align: top;
    display: block;
    height: 200px;
    overflow-y: auto;
  }

  .card-spacer {
    display: block;
    visibility: hidden;
    height: 30px;
  }

  .detail-container-back {
    width: 95%;
    display: block;
    vertical-align: top;
    height: 240px;
    margin: auto;
    margin-bottom: 0px;
    background-color: #404040;
  }

  .info-container-back {
    width: 95%;
    vertical-align: top;
    display: block;
    height: 260px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 0;
  }

  .card-inner {
    height: auto;
  }
}

@media screen and (min-width: 400px) and (max-width: 1000px) {
  #navbar {
    padding: 20px 10px !important;
  }

  #navbar-right-small-menu {
    display: none;
    width: 100%;
    margin-top: 65px;
  }

  #navbar-right-small-menu a {
    color: black;
    text-align: center;
    padding: 12px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    float: center;
    display: block;
    width: 92%;
  }

  #navbar #navbar-right-small-menu a:hover {
    background-color: #ddd;
    color: #2d7254;
  }

  #navbar #navbar-right-small-menu a.active {
    background-color: #2d7254;
    border-radius: 6px; 
    color: white;
  }

  #navbar a {
    color: black;
    text-align: center;
    padding: 12px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    float: left;
    display: block;
  }

  #navbar-right {
    float: none;
    display: none;
  }

  #navbar-right-small > i {
    display: inline;
  }

  #navbar-right-small > div {
    display: none;
  }

  .logo-name {
    font-size: 30px;
  }

  .links {
    margin: auto;
    width: 80%;
    position: relative;
    overflow: hidden;
    display: block;
  }

  .links a {
    margin: 0;
    display: inline-block;
    width: 24%;
  }

  .links a div{
    text-align: center;
  }

  #headerVideo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 25vh;
    top: 80px;
  }

  #profileContent {
    width: 95%;
    margin-top: 170px;
  }

  .about-paragraph {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }

  .skill-paragraph {
    width: 95%;
  }

  .expand-container-skills {
    width: 100%;
    display: block;
    height: 25px;
    border-radius: 6px;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .expand-container-skills div{
    display: inline-block;
  }

  .skill-card {
    width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }

  .card-holder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 60px;
  }

  .card {
    width: 95%;
    margin: auto;
    height: 300px;
    margin-bottom: 350px;
  }

  .detail-container {
    /*padding: 15px;*/
    width: 100%;
    display: inline-block;
    height: 200px;
  }

  .img-container {
    width: 100%;
    height: 200px;
    display: block;
  }

  .description-container {
    width: 100%;
    height: inherit;
    display: block;
    vertical-align: top;
  }

  .info-container {
    width: 95%;
    margin: auto;
    vertical-align: top;
    display: block;
    height: 200px;
    overflow-y: auto;
  }

  .card-spacer {
    display: block;
    visibility: hidden;
    height: 30px;
  }

  .detail-container-back {
    width: 95%;
    display: block;
    vertical-align: top;
    height: 240px;
    margin: auto;
    margin-bottom: 0px;
    background-color: #404040;
  }

  .info-container-back {
    width: 95%;
    vertical-align: top;
    display: block;
    height: 260px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 0;
  }

  .card-inner {
    height: auto;
  }
}

@media screen and (min-width: 1001px) {
  #navbar-right-small {
    display: none;
  }
  #navbar-right-small-menu {
    display: none;
  }
  #navbar #navbar-right a:hover {
    background-color: #ddd;
    color: #2d7254;
  }

  #navbar #navbar-right a.active {
    background-color: #2d7254;
    border-radius: 6px; 
    color: white;
  }

  #navbar-right {
    float: right;
  }

  .logo-name {
    font-size: 40px;
  }

  .links {
    margin: auto;
    width: 40%;
    position: relative;
    overflow: hidden;
    display: block;
  }

  .links a {
    margin: 0;
    display: inline-block;
    width: 23%;
  }

  .links a div{
    text-align: center;
  }

  #headerVideo {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 30vh;
    top: 150px;
  }

  #profileContent {
    width: 80%;
    margin-top: 250px;
  }

  .about-paragraph {
    width: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .skill-paragraph {
    width: 80%;
  }

  .expand-container-skills {
    width: 100%;
    display: inline-block;
    height: 25px;
    border-radius: 6px;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .skill-card {
    width: 33%;
    display: inline-block;
  }

  .card-holder {
    width: 80%;
    margin: 180px auto;
  }

  .card {
    width: 100%;
    height: 200px;
    margin-bottom: 105px;
  }

  .detail-container {
    /*padding: 15px;*/
    width: 48%;
    display: inline-block;
    height: 200px;
  }

  .img-container {
    width: 48%;
    height: 200px;
    display: inline-block;
  }

  .description-container {
    width: 48px;
    height: inherit;
    display: inline-block;
    vertical-align: top;

  }

  .info-container {
    /*padding: 15px;*/
    width: 48%;
    vertical-align: top;
    display: inline-block;
    height: 200px;
    overflow-y: auto;
  }

  .card-spacer {
    display: none;
  }

  .detail-container-back {
    width: 48%;
    vertical-align: top;
    display: inline-block;
    height: 210px;
    overflow-y: auto;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 6px;
  }

  .info-container-back {
    width: 48%;
    vertical-align: top;
    display: inline-block;
    height: 210px;
    overflow-y: auto;
    margin-bottom: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgba(35,43,43, 255);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: rgba(240, 241, 242, 255);
  }
}

#detail-img {
  display: block;
  width: 95%;
  margin: auto;
  height: auto;
  border-radius: 6px;
}

body{
  margin:0;
  /* background-color: rgba(240, 241, 242, 255); */
  /* background: url('../pics/bg.jpg') no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Poppins';
}

.logo-name{
  position: relative;
  height: 40px;
  display: inline-block;
  line-height: 40px;
}

.noShow {
  display: none;
}

.fa-bars {
  float: right;
  margin-top: 10px;
  margin-right: 40px;
  color: #2d7254;
  display: inline-block;
  cursor: pointer;
}

#background {
  z-index: -1; 
  bottom: -30px;
  position: fixed;
  opacity: 0.7;
}

.col-6 {
  width: 50%;
  display: inline-block;
}

.col-5 {
  width: 41%;
  display: inline-block;
}

.col-4 {
  width: 32%;
  display: inline-block;
}

.col-3 {
  width: 25%;
  display: inline-block;
}

.col-2 {
  width: 16%;
  display: inline-block;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tab {
  cursor: pointer;
}

#navbar {
  overflow: hidden;
  background-color: whitesmoke;
  padding: 50px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: #2d7254;
  text-align: center;
  padding: 12px;
  margin-right: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo{
  margin-top: -8px;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  /* background-color: #2d7254; */
  border-radius: 6px; 
  color: #2d7254;
  cursor: pointer;
}

.animation-wrapper {
  vertical-align: top;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.sphere-animation {
  position: relative;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(0,72,38,1);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 3px;
  }
}

#profile-picture {
  border-radius: 50%;
  float: left;
  transition: 0.4s;
}

#profileContent {
  height: 500px;
  transition: 0.4s;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  padding-top: 20px;
  -moz-box-shadow:    0 10px 10px -5px #989898;
  -webkit-box-shadow: 0 10px 10px -5px #989898;
  box-shadow:         0 10px 10px -5px #989898;
}

#researchContent {
  height: 100px;
  width: 100%;
  margin-top: 180px;
  transition: 0.4s;
}

.info-sect {
  margin: 10px;
  top: 160px;
}

.profile-sect {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}

.fab, .fas {
  display: inline-block;
  text-align: center;
}

.fa-github-square {
  color: #000;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-twitter-square {
  color: #00acee;
}

.fa-researchgate {
  color: #4c8bf5;
}

.links a div img {
  width: 45px;
  height: 45px;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  color: #000;
}

#profile-img {
  border-radius: 50%;
  display:block;
  margin:auto;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  /*-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
*/}

#heading {
  text-align: center;
}

.info-img {
  border-radius: 50%;
  float: left;
  width: 100px;
  height: 100px;
}

.about {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 50px;
}

.skills {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 65px;
}

.about-paragraph {
  background-color: whitesmoke;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 35px;
  border-radius: 6px;
  -moz-box-shadow:    0 10px 10px -5px #989898;
  -webkit-box-shadow: 0 10px 10px -5px #989898;
  box-shadow:         0 10px 10px -5px #989898;
}

.skill-paragraph {
  border: 1px solid #2d7254;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 35px;
  border-radius: 6px;
}

.about-detail{
  width: 80%;
  margin: auto;
}

.about-learn-more {
  width: 80%;
  margin: auto;
}

.skill-detail{
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
}

.skill-list-container {
  vertical-align: top;
  display: inline-block;
  height: 226px;
}

.skill-list-container p{
  text-decoration: underline;
  font-size: 20px;
  color: #2d7254;
}

.skill-list {
  display: block;
  width: 100%;
  height: 220px;
  overflow-y: scroll;
  border: 1px solid #2d7254;
  border-radius: 6px;
  position: relative;
}

.skill-list p {
  text-decoration: underline;
  font-size: 20px;
  color: #2d7254;
}

.skill-list ul {
  vertical-align: top; 
  list-style-type: circle;
}

.skill-list ul li{
  padding: 5px;
  font-size: 15px;
  color: #2d7254;
}

.about-detail p {
  font-size: 16px;
  line-height: 30px;
}

.about-learn-more p {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #2d7254;
}

.divider {
  width: 60%;
  margin: auto;
  background-color: #2d7254;
  color: #2d7254;
  border-color: #2d7254;
  border: 1px solid #2d7254;
  margin-bottom: 35px;
}

.header {
  text-align: center;
  font-size: 35px;
  color: #2d7254;
  margin: 20px;
}

.underheader {
  text-align: center;
  font-size: 15px;
  color: #2d7254;
  margin: 20px;
}

#work {
  height: auto;
  width: auto;
}

/*@keyframes showCards {
  0% {top: -1300px;}
  100% {top: 0px;}
}*/

.card {
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  display: block;
  background-color: transparent;
  animation-name: showCards;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  perspective: 1000px;
  animation-timing-function: ease-out;
}

.skill-card {
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  height: 226px;
  background-color: transparent;
  animation-name: showCards;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  perspective: 1000px;
}

.research-card {
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  display: block;
  width: 100%;
  border-radius: 6px;
  background-color: whitesmoke;
  height: 305px;
  margin-bottom: 35px;
  animation-name: showCards;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  perspective: 1000px;
  animation-timing-function: ease-out;
}

.pdf-parent-section {
  width: 24%;
  height: 300px;
  display: inline-block;
}

.pdf-section {
  margin-left: 50px;
  border-radius: 50%;
  background-color: #fff;
  width: 300px;
  height: 300px;
  display: inline-block;
  opacity: 1;
  transition: 0.5 ease-in;
}

.pdf-download {
  position: absolute;
  top: 100px;
  left: 125px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(45, 114, 84, 0.8);
  opacity: 0;
  transition: 0.5s ease;
  text-align: center;
  vertical-align: middle;
}

.fa-file-download {
  line-height: 150px;
  color: #fff;
}

.pdf-section:hover .pdf-download{
  cursor: pointer;
  opacity: 1;
  transition: 0.5s ease;
}

.pdf {
  margin-left: 50px;
  width: 200px;
  height: 300px;
  transform: rotateZ(-15deg);
  border-radius: 6px;
  /*-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;*/
}

.spacer-section {
  border-radius: 6px;
  background-color: transparent;
  width: 20%;
  height: 300px;
  display: inline-block;
}

.detail-section-pdf {
  border-radius: 6px;
  background-color: #fff;
  width: 54%;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
}

.detail-container-lab {
  width: 59%;
  display: inline-block;
  height: 200px;
}

.img-container-lab {
  width: 39%;
  height: 200px;
  display: inline-block;
}

.description-container-lab {
  width: 48200px;
  height: inherit;
  display: inline-block;
  vertical-align: top;
}

.workImg {
  display: block;
  margin: auto;
  height: inherit;
  border-radius: 50%;
}

.addedBg {
  background-color: #000;
}

.info-container-lab {
  /*padding: 15px;*/
  width: 39%;
  vertical-align: top;
  display: inline-block;
  height: 200px;
  overflow-y: auto;
  text-align: left;
}

.skill-container-back {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: top;
  display: inline-block;
  height: 220px;
  overflow-y: auto;
  border-radius: 6px;
}

.info-container-back > p {
  text-align: left;
}

.companyName {
  font-size: 1.4em;
  color: #2d7254;
  vertical-align: top;
}

.companyNameSmaller {
  font-size: 1.4em;
  color: #2d7254;
  vertical-align: top;
}

.labName {
  font-size: 1.3em;
  color: #2d7254;
  vertical-align: top;
}

.infoText {
  font-size: 17px;
  color: #000;
  vertical-align: top;
}

.skillText {
  font-size: 12px;
  color: #2d7254;
  vertical-align: top;
}

.expand-container {
  width: 100%;
  display: inline-block;
  height: 25px;
  border-radius: 6px;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa-chevron-down {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
  border: 1px solid #2d7254;
  width: 100%;
  color: #2d7254;
  /*background-color: #2d7254;*/
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.box {
  margin: 180px auto;
  background-color: white;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: myAnimation;
  animation-duration: 4s;
  /*animation-iteration-count: infinite;*/
  animation-fill-mode: forwards;
  /*animation-delay: 2s;*/
  /*animation-timing-function: ease-in;*/
}

@keyframes myAnimation {
  0% {background-color: whitesmoke; left: 0px; top: 0px; border-radius: 50%;}
  25% {background-color: red;  left: 300px; top: 0px; border-radius: 25%;}
  50% {background-color: green; left: 300px; top: 300px; border-radius: 0%;}
  75% {background-color: blue; left: 0px; top: 300px; border-radius: 25%;}
  100% {background-color: whitesmoke; left: 0px; top: 0px; border-radius: 50%;}
}

.box2 {
  margin: 180px auto;
  background-color: white;
  width: 200px;
  height: 200px;
  position: relative;
  transition-property: background, border-radius, transform;
  transition-duration: 3s;
}

.box2:hover {
  background-color: red;
  border-radius: 50%;
  transform: rotateY(180deg);
}

.card-front, .card-back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.skill-card-front, .skill-card-back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.skill-card-back {
  transform: rotateX(180deg);
  display: none;
}

.card-back {
  display: none;
  transform: rotateX(180deg);
}

.skill-card-front {
  width: 100%;
  height: auto;
  display: block;
}

.card-inner {
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  border-radius: 6px;
  background-color: whitesmoke;
}

.skill-card-inner {
  position: relative;
  transition: transform 0.8s;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 15px; 
}

.card-box-shadow-bottom {
  -moz-box-shadow:    0 10px 10px -5px #989898;
  -webkit-box-shadow: 0 10px 10px -5px #989898;
  box-shadow:         0 10px 10px -5px #989898;
}

.card-box-shadow-top {
  -moz-box-shadow:    0 -10px 10px -5px #989898;
  -webkit-box-shadow: 0 -10px 10px -5px #989898;
  box-shadow:         0 -10px 10px -5px #989898;
}

.card-inner-lab {
  padding-top: 25px;
  padding-bottom: 35px;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  border-radius: 6px;
  background-color: whitesmoke;
}

.paper-title {
  text-align: center;
  font-size: 22px;
  color: #2d7254;
  padding: 5px;
}

.paper-authors {
  text-align: center;
  font-size: 14px;
  color: #000;
  padding: 5px;
}

.paper-materials {
  text-align: center;
  font-size: 14px;
  color: #2d7254;
  padding: 5px;
}

.paper-location {
  text-align: center;
  font-size: 14px;
  color: #000;
  padding: 5px;
}

.paper-abstract {
  text-align: left;
  font-size: 14px;
  color: #000;
  padding: 5px;
}

.paper-code {
  text-align: center;
  cursor: pointer;
}

.code-repo{
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  color: #000;
}

.abstract-style {
  color: #2d7254;
}

.section-title {
  text-align: center;
  font-size: 30px;
  color: #2d7254;
}

.information-circle {
  width: 100%;
  height: 250px;
  margin-top: 60px;
}

.circle {
  height: 200px;
  width: 200px;
  background: url('../pics/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  margin-top: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border: 4px solid #2d7254;
}

.circle-evergreen {
  height: 200px;
  width: 200px;
  background: url('../pics/Evergreen-Logo-Small.png') no-repeat center center;
  border-radius: 50%;
  margin-top: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  /*border: 1px solid #2d7254;*/
}

.rectangle-web {
  height: 65px;
  width: 200px;
  margin-top: 40px;
  background-color: #2d7254;
  transform: rotateZ(-15deg) translateX(-25px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  line-height: 65px;
  border-radius: 6px;
}

.rectangle-neuro {
  height: 65px;
  width: 240px;
  margin-top: 7px;
  background-color: #2d7254;
  transform: rotateZ(-15deg) translateX(-5px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  line-height: 65px;
  border-radius: 6px;
}

.rectangle-robot {
  height: 65px;
  width: 200px;
  margin-top: 7px;
  background-color: #2d7254;
  transform: rotateZ(-15deg) translateX(25px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  line-height: 65px;
  border-radius: 6px;
}

.about-text {
  display: none;
}

.skill-title {
  text-align: center;
  color: #2d7254;
  font-size: 25px;
}

#skill-icon {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-mozkit-scrollbar {
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-track {
    background: whitesmoke;
}

::-mozkit-scrollbar-track {
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #2d7254; 
    border-radius: 10px;
}

::-mozkit-scrollbar-thumb {
    background: #2d7254;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d7254; 
}

::-mozkit-scrollbar-thumb:hover {
    background: #2d7254;
}